
img{
    max-height: 750px;
}

i{
    cursor: pointer;
    font-size: 40px;
}

.changeImg {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.mat-fab>.mat-button-wrapper{
    padding: 8px 0 0 8px;
}

span{
    margin-top: 1%;
}