<main>
  <div>
      <img [src]="data.evidence[currentImg]" alt="">
  </div>
  
  <div class="changeImg">
    <button mat-fab color="primary" style="margin-left:30px" (click)="changeImg('forward')">
    <i class="material-icons" >
      arrow_forward_ios
      </i>
    </button>
     <span>{{data.evidence.length}} / {{currentImg + 1}}</span> 
     <button mat-fab color="primary" style="margin-right:30px" (click)="changeImg('backward')">
      <i class="material-icons"  >
        arrow_back_ios
        </i>
      </button>      
  </div>
</main>