img {
  max-height: 750px;
}

i {
  cursor: pointer;
  font-size: 40px;
}

.changeImg {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.mat-fab>.mat-button-wrapper {
  padding: 8px 0 0 8px;
}

span {
  margin-top: 1%;
}

@media (min-width: 320px) and (max-width: 480px) {
  main {
    width: 300px;
    height: 500px;
  }

  .img {
    width: 95%;
    margin: auto;
    margin-top: 2%
  }

  img {
    width: 95%;
    margin: auto;
    height: 430px;
  }
}
