table {
    width: 100%;
    margin-top: 2%;
    text-align: right;
  }

  th.mat-header-cell{
    text-align: center;
  }

  td.mat-cell{
    text-align: center;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
    /*padding-top: 10px;*/
    /* justify-content: flex-end; */
    padding-right: 48%;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }

  mat-spinner{
    margin: auto;
    margin-top: 5%;
  }

  mat-paginator{
    margin-bottom: 5%;
  }

  @media (min-width: 320px) and (max-width: 480px) {
   main{
     margin-top:10%;
   }

   mat-paginator{
    margin-bottom: 10%;
  }

  .example-element-detail{
    padding: 0;
  }
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
   
    
  }