main{
    width: 500px;
    height: 600px;
}

form{
    display: flex;
    flex-direction: column;
}

.formActionButtons{
    margin-right: 50%;
}
@media (min-width: 320px) and (max-width: 480px) {
  
    
    
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

 
  
}


