<main>
  <h1>הדיווחים שלי</h1>
  <div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let company of records">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{company.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let record of company.records">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{record.createdAt}}
            </mat-panel-title>
          </mat-expansion-panel-header>        
              <form>
                <mat-form-field>
                  <input matInput type="number" [value]="record.shotefPlus" placeholder="שוטף פלוס שסוכם בעסקה (30,40,60...)">
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" [value]="record.delay" placeholder="ימיי איחור אחרי תקופת שוטף פלוס">
                </mat-form-field>

                <mat-form-field>
                  <textarea matInput [value]="record.comment" placeholder="הוסף הערה" cdkTextareaAutosize></textarea>
                </mat-form-field>
              </form>
              <div class="formActionButtons">
                <button mat-raised-button style="margin-left:2%" color="primary">שמור שינויים</button>
                <button mat-raised-button color="warn">מחק דיווח</button>
              </div>
        </mat-expansion-panel>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</main>