<!-- css classes: companyName, firstExpansionPanel, openEvidence are for e2e testing -->
<div class="userAreaContainer">
  <h1>הדיווחים שלי</h1>
  <div class="main">
    <app-status-message *ngIf="!isReportsFetched" [messageType]="reportsFetchingmessageType" [message]="reportsFetchingErrorMessage" ></app-status-message>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let company of reports" class="firstExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title class="companyName">
            {{company.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel class="secondExpansionPanel" *ngFor="let report of company.reports; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              דווח בתאריך: {{report.createdAt}} 
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="savingChanges" *ngIf="isProcessing && i === reportDomIdx">
              <mat-spinner style="margin:auto" ></mat-spinner> 
              <p>שומר שינויים...</p>
          </div>
          
          <app-status-message *ngIf="messageStatus && i === reportDomIdx"
           [messageType]="messageType" 
           [message]="messageStatus" ></app-status-message>

          <div class="waitForChangesToFinish" *ngIf="isProcessing && i !== reportDomIdx">
            <p>אנא המתן עד שהשינויים ישמרו...</p>
          </div>

          <div class="form" *ngIf="!isProcessing && !messageStatus">
              <form #f="ngForm">
                <mat-form-field>
                  <input matInput type="number" class="shotefPlus" [ngModel]="report.shotefPlus"  name="shotef_plus" placeholder="שוטף פלוס שסוכם בעסקה (30,40,60...)" required>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" [ngModel]="report.delay"  name="days_of_delay" placeholder="ימיי איחור אחרי תקופת שוטף פלוס" required>
                </mat-form-field>

                <mat-form-field>
                  <textarea matInput [ngModel]="report.comment"  name="comment" placeholder="הוסף הערה" cdkTextareaAutosize></textarea>
                </mat-form-field>

                <mat-form-field [formGroup]="fileInput">
                    <mat-spinner class="fileUpload" diameter="30" *ngIf="readingFiles"></mat-spinner>
                  <ngx-mat-file-input formControlName="evidence" placeholder="הוסף הוכחה (תמונה בפורמט: jpg  או png)" 
                  (change)="readEvidence()" multiple ></ngx-mat-file-input>
                  <mat-error *ngIf="fileInput.get('evidence').hasError('maxInputFiles')">
                      ניתן להעלות עד 4 קבצים.
                    </mat-error>
                    <mat-error *ngIf="fileInput.get('evidence').hasError('maxContentSize')">
                      סה"כ ניתן להעלות עד 10 MB </mat-error>
                      <mat-hint>כדי להעלות מספר קבצים, העבירו את הקבצים שברצונכם להעלות לאותה תיקיה. כעת לחצו  על השורה הוסף הוכחה, בחלון שיפתח נווטו לתיקייה שבה נמצאים הקבצים שברצונכם להעלות. החזיקו את מקש ה- SHIFT במקלדת ובחרו עד 4 קבצים.</mat-hint>
                    </mat-form-field>
                    <p style="color:red;margin-top:30px" *ngIf="readingFilesErrorMessage">{{readingFilesErrorMessage}}</p>
              </form>

              <div *ngIf="report.evidence">
                <p style="text-decoration:underline">הוכחות מוצרפות</p>
                <div class="evidence" *ngFor="let evidence of report.evidence; let x = index">
                  <span class="openEvidence" (click)="openEvidence(evidence)">הוכחה {{ x + 1}}</span>
                  <i class="material-icons deleteIcon" (click)="confirmDeleteEvidence(report._id,report.evidence,i)">
                      delete
                      </i>
                </div>
              </div>

              <div class="formActionButtons">
                <button mat-raised-button class="saveCangesBtn" color="primary" [disabled]="f.invalid"
                (click)="confirmSaveChanges(f.value,report._id,i)">שמור שינויים</button>
                <button mat-raised-button color="warn" [disabled]="f.invalid" (click)="confirmDeleteReport(report._id,i)">מחק דיווח</button>
              </div>
            </div>  
        </mat-expansion-panel>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>