.userAreaContainer {
  width: 600px;
  height: 700px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.formActionButtons {
  margin-top: 5%;
  margin-right: 60%;
}

.successMessage {
  color: green;
  text-align: center;
  font-size: 16px;
}

.errorMessage {
  color: red;
  text-align: center;
  font-size: 16px;
}

.saveCangesBtn {
  margin-left: 2%;
}

.fileUpload{
  margin-right: 95%;
}

.savingChanges > p, .waitForChangesToFinish{
  text-align: center;
}

.deleteIcon{
  margin-right: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.evidence{
  margin-top: 10px;;
}

.evidence > span{
  vertical-align: middle;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 320px) and (max-width: 480px) {
  .userAreaContainer {
    width: auto;
    height: auto;
    padding: 0;
  }


  div.mat-expansion-panel-body {
    padding: 0px 10px 5px;
  }

  .formActionButtons {
    margin-right: 0;
  }

  .saveCangesBtn {
    margin-left: 1%;
  }

}
