<header>
  <nav>
  <ul>
    <li (click)="openDialog()">
      <i class="material-icons">account_circle</i>
      <span id="user">{{appService.isAuthenticated?"אזור אישי":"התחבר"}}</span>
    </li>
    <li (click)="openSignUpDialog()">
      <i class="material-icons">person_add</i>
      <span>הרשם</span>
    </li>
    <li class="logOut" (click)="confirmLogOut()">
      <i class="material-icons" >
        exit_to_app
        </i>
      <span>התנתק מהמערכת</span>
    </li>
  </ul>
</nav>
</header>

<main>
<div class="submitDelay" >
  <app-submit-delay></app-submit-delay>
</div>

<div class="search">
  <app-search-business></app-search-business>
  <div class="searchResults" dir="rtl">
      <app-search-results></app-search-results>
    </div>
</div>


</main>