main{
    width:50%;
    margin: auto;
}

h1{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

form{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > button {
    display: block;
    width: 50%;
    font-size: 26px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

mat-spinner{
    margin: auto;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 320px) and (max-width: 480px) {
    h1{
        font-size: 24px;
        margin-top: 10%;
    }
    
    main{
        margin-top: 7%;
        width: 90%;
    }

    button {
        height: 48px;
    }
  }
  
  
 