main{
    width:50%;
    margin: auto;
}

h1{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

form{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > button {
    display: block;
    width: 50%;
    font-size: 26px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}