<div class="container">
  <header>
    <h1>בדוק מוסר תשלומים של חברה</h1>
  </header>

  <main>
    <form (ngSubmit)="onSearchSubmit()" [formGroup]="searchCompanyNameForm" >
      <mat-form-field appearance="outline">
        <mat-label>הזן שם חברה</mat-label>
        <input (keypress)="searchForCompanyName()" type="search"  [matAutocomplete]="auto" formControlName="company_name"
          matInput placeholder="הזן שם חברה">
        <mat-error *ngIf="searchCompanyNameForm.get('company_name').hasError('companyNameDoesNotExist')">החברה לא נמצאת במאגר
          רשם החברות</mat-error>
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let name of companyNameSuggestion" [value]="name['שם חברה']">{{name["שם חברה"]}}
        </mat-option>
      </mat-autocomplete>

      <button mat-raised-button type="submit" [disabled]="!searchCompanyNameForm.valid" color="primary">חפש חברה</button>
    </form>
    <app-status-message *ngIf="errorMessage" [messageType]="searchStatus" [message]="errorMessage"></app-status-message>
    <mat-spinner *ngIf="isSearching"></mat-spinner>
  </main>
</div>