<div class="container">
  <header>
    <h1>דווח על איחור בתשלום</h1>
  </header>

  <main>
    <p>*ניתן לדווח על תשלום שכן עמד בזמנים. לשם כך הזינו 0 בשורה: "ימיי איחור אחרי תקופת שוטף פלוס" וצרפו לפחות שני קבצי הוכחה.</p>
    <form (ngSubmit)="submitDelay()" [formGroup]="submitDelayForm">
      <mat-form-field>
        <input (keypress)="searchForCompanyName()" matInput type="search" formControlName="company_name"
          [matAutocomplete]="auto" placeholder="שם חברה/מספר חברה המאחרת בתשלום" required>
        <mat-error *ngIf="submitDelayForm.get('company_name').hasError('companyNameDoesNotExist')">החברה לא נמצאת במאגר
          רשם החברות</mat-error>
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let name of companyNameSuggestion" [value]="name['שם חברה']">{{name["שם חברה"]}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field>
        <input matInput type="number" formControlName="shotef_plus" required
          placeholder="שוטף פלוס שסוכם בעסקה (30,40,60...)">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" required formControlName="days_of_delay"
          placeholder="ימיי איחור אחרי תקופת שוטף פלוס">
      </mat-form-field>
      
      <mat-form-field>
        <textarea matInput formControlName="comment" placeholder="הוסף הערה" cdkTextareaAutosize></textarea>
      </mat-form-field>
      
      <mat-form-field>
        <mat-spinner class="fileUpload" diameter="30" *ngIf="readingFiles"></mat-spinner>
          <ngx-mat-file-input multiple (change)="onChange()"
           formControlName="proofFile" placeholder="הוסף הוכחה (תמונה בפורמט: jpg  או png)"
           [accept]="'.png,.jpg'" ></ngx-mat-file-input>
           <mat-error *ngIf="submitDelayForm.get('proofFile').hasError('maxInputFiles')">
              ניתן להעלות עד 4 קבצים.
            </mat-error>
          <mat-hint>כדי להעלות מספר קבצים, העבירו את הקבצים שברצונכם להעלות לאותה תיקיה. כעת לחצו  על השורה הוסף הוכחה, בחלון שיפתח נווטו לתיקייה שבה נמצאים הקבצים שברצונכם להעלות. החזיקו את מקש ה- SHIFT במקלדת ובחרו עד 4 קבצים.</mat-hint>
        </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!submitDelayForm.valid || readingFiles" color="warn">דווח על איחור</button>
    </form>

    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <app-status-message *ngIf="submitionStatus" [messageType]="submitionStatus" [message]="statusMessage"></app-status-message>
    
  </main>
</div>
