
h1{
    margin: 0;
    padding: 0;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    color: #000000;
}

header{
    margin-top: 5%;
}

main{
    width:50%;
    margin: auto;
    margin-top: 1%;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

form > button{
    margin-top: 3%;
    font-size: 26px;
}

.companyNameSuggestion{
    cursor: pointer;
}

mat-spinner{
    margin: auto;
}

.successfullySubmited {
    width: 40%;
    margin: auto;
    text-align: center;
    color: green;
}

.submitionFailed{
    color: red;
    width: 40%;
    margin: auto;
    text-align: center;
}

p{
    font-size: 14px;
}

.fileUpload{
    margin-right: 95%;
}


@media (min-width: 768px) and (max-width: 1024px)  {

 header{
     margin-top: 10%;
 }
  
}

@media (min-width: 320px) and (max-width: 480px) {
    h1{
        font-size: 24px;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 80%;
    }
      
    main{
        width:90%;
       
    }

    .submitStatus > p{
        width: 100%;
    }

    header{
        margin-top: 20%;
    }
  
    form > button{
        margin-top: 100px;
        margin-bottom: 5%;
    }
  }
  
  