<div class="container">
  <header>
    <h1>דווח על איחור בתשלום</h1>
  </header>

  <main>
    <p>*ניתן לדווח על תשלום שכן עמד בזמנים. לשם כך הזינו 0 בשורה: "ימיי איחור אחרי תקופת שוטף פלוס" וצרפו לפחות שני קבצי הוכחה.</p>
    <app-report></app-report>

      <!-- <button mat-raised-button type="submit" [disabled]="(!report.valid || readingFiles) || 
      (report.get('days_of_delay').value === 0 && (report.get('evidence').value === null ||
       report.get('evidence').value.files.length < 2 )) " color="warn">דווח על איחור</button> -->
   

    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <app-status-message *ngIf="submitionStatus" [messageType]="submitionStatus" [message]="statusMessage"></app-status-message>
    
  </main>
</div>
