<div class="container">
  <i (click)="onClose()" class="material-icons">clear</i>
  <form (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
    <mat-form-field>
      <input matInput formControlName="email" type="email" placeholder="דואר אלקטרוני" >
    </mat-form-field>

    <mat-form-field>
      <input class="password" matInput formControlName="password" type="text" placeholder="סיסמא">
      <mat-hint>מינימום 6 תווים</mat-hint>
    </mat-form-field>

    <mat-radio-group class="chooseEmploymentType" formControlName="employmentType">
      <mat-radio-button value="freeLancer">עצמאי</mat-radio-button>
      <mat-radio-button class="employmentType" value="company">חברה בע"מ</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="signUpForm.get('employmentType').value === 'freeLancer'">
      <input matInput formControlName="freeLancerId"  placeholder="מספר עוסק פטור/מורשה" >
      <mat-hint>מספר תעודת זהות</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="signUpForm.get('employmentType').value === 'company'">
      <input matInput formControlName="companyId" type="number" placeholder="מספר חברה" >
    </mat-form-field>

    <button type="submit"  mat-flat-button color="primary">הרשם</button>
  </form>

  <mat-spinner *ngIf="displaySpinner"></mat-spinner>

  <app-status-message *ngIf="isSuccessfullyRegistrated" [messageType]="isSuccessfullyRegistrated"
  [message]="statusMessage"></app-status-message>

</div>