form{
    display: flex;
    flex-direction: column;
}

.employmentType{
    margin-right: 20px;
}

input[type="number"]{
    width: 100%;
}

.chooseEmploymentType{
    margin-top: 20px;
}

button[type="submit"]{
    margin-top: 30px;
    font-size: 20px;
}

i{
    margin-right: 95%;
    cursor: pointer;
}