<div class="container">
  <i (click)="closeDialog()" class="material-icons">clear</i>

  <form (ngSubmit)="onSignIn(form.value)" #form="ngForm">
    <mat-form-field>
      <input matInput name="email" type="email" placeholder="דואר אלקטרוני" email required ngModel>
    </mat-form-field>

    <mat-form-field>
      <input class="password" matInput name="password" type="password" placeholder="סיסמא" minlength="6" required ngModel>
    </mat-form-field>

    <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">הכנס</button>
    <button style="margin-top:10px" mat-button (click)="openSignInDialog()">צור משתמש</button>
  </form>

  <app-status-message *ngIf="isSuccessfullyLogedIn"
   [messageType]="isSuccessfullyLogedIn" [message]="statusMessage"></app-status-message>

  <!-- <div class="error">
    <p>{{errorMessage}}</p>
  </div>

  <div *ngIf="successfullyLogedIn" class="successfullyLogedIn">
    <p style="color:green">
      התחברתה בהצלחה
    </p>
  </div> -->

</div>